body {
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f6ee;
  color: #36454f;
  padding: 0.5rem 2rem;
  width: 100%;
}
.navlinks {
  list-style: none;
  display: flex;
}
.navitems {
  padding: 0 1rem;
}
.navitems a {
  text-decoration: none;
  color: #36454f;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 0.2ch;
}
.navitems a:hover {
  color: #ffe5b4;
}
.right-nav {
  display: flex;
}
.login-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.signup-btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.signup-btn:hover {
  background-color: #000;
  color: #fff;
}
.navitems a :active {
  color: bisque;
}
